{% extends "base.html" %}

{% block content %}
<div style="margin-top:50px;" class="row row-offcanvas row-offcanvas-right">

  <div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>

    <div class="row">
      <h1>{{post.title}}</h1>
      <p>
        {{post.body}}
      </p>

      <h2>Comments</h2>
      <ul>
        {% for comment in comments %}
        <li><h4>{{comment.name}} [{{comment.email}}] </h4> <br> <p>{{comment.body}}</p></li>
        {% endfor %}
      </ul>

    </div><!--/row-->
  </div><!--/.col-xs-12.col-sm-9-->


</div><!--/row-->

{% endblock %}
