{% extends "base.html" %}

{% block content %}
<div style="margin-top:50px;" class="row row-offcanvas row-offcanvas-right">

  <div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>

    <div class="row">
      <h1>Users</h1>

      <table class="table table-hover table-striped">
        <tr>
          <th>id</th>
          <th>name</th>
          <th>email</th>
          <th>username</th>
          <th></th>
        </tr>
        {% for user in users %}
        <tr>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.username}}</td>
          <td><a class="btn btn-default" href="/users/single/{{user.id}}" role="button">View details &raquo;</a></td>
        </tr>
        {% endfor %}
      </table>
      


    </div><!--/row-->
  </div><!--/.col-xs-12.col-sm-9-->


</div><!--/row-->

{% endblock %}
